<div class="container animated fadeIn">

    <div class="my-3">
        <h2 class="display-2">Audiovisuales</h2>
        <p style="font-size: 1.2em;">En esta sección se pueden encontrar algunos trabajos en los cuales trabajé en el área de Composición, Diseño Sonoro, Captura de Audio Directo y Post de Sonido</p>
        <hr>
    </div>
    <div class="d-flex flex-wrap justify-content-around">

        <div class="p-2 bd-highlight">
            <iframe width="500" height="315" src="https://www.youtube.com/embed/Qav0jHQxjZ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="p-2 bd-highlight">
            <iframe width="500" height="315" src="https://www.youtube.com/embed/UkVwdnUIQVc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="p-2 bd-highlight">
            <iframe width="500" height="315" src="https://www.youtube.com/embed/8zVUVp84ILY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="p-2 bd-highlight">
            <iframe width="500" height="315" src="https://www.youtube.com/embed/36p3JVTfL84" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="p-2 bd-highlight">
            <iframe width="500" height="315" src="https://www.youtube.com/embed/qeMaXZu1sn8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="p-2 bd-highlight">
            <iframe width="500" height="315" src="https://www.youtube.com/embed/fmtuvd8ZgiA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>