
<div class="container mt-3 animated fadeIn">

    <div class="row">

        <div class="col-4 border-end ">
            <p class="display-3">Mail</p>
            <a href="mailto:titovieradrums@gmail.com">titovieradrums@gmail.com</a>
        </div>
        <div class="col-4">
            <p class="display-3">Redes</p>
            <a href="https://soundcloud.com/augusto-viera" ><img class="m-2 icon-header" src="../../../assets/img/soundcloud-logo.svg" alt=""  srcset=""  width="50px"></a>
            <a href="https://titoviera.bandcamp.com/" ><img class="m-2 icon-header" src="../../../assets/img/bandcamp-logo.svg" alt=""  srcset=""  width="50px"></a>
            <a href="https://www.youtube.com/channel/UCflTWJ0cBSGK-ee3olzk6zA" ><img class="m-2 icon-header" src="../../../assets/img/001-youtube-gris.svg" alt=""  srcset=""  width="50px"></a>
            <a href="https://www.facebook.com/tito.viera.79"><img class="m-2 icon-header" src="../../../../assets/img/002-facebook-gris.svg" alt="" srcset="" width="50px"></a>
            <a href="https://www.instagram.com/titovieradrums/"><img class="m-2 icon-header" src="../../../../assets/img/003-instagram-gris.svg" alt="" srcset="" width="50px"></a>
        </div>
        <div class="col-4 ">
            <img class="rounded-top" src="../../../assets/img/Tito in the cerro (10).jpg" alt="" width="100%">
        </div>
    </div>
    
</div>
