<div class="container">
    <div class="d-flex justify-content-start">
        <div class="col text-center d-none d-lg-block">
            <iframe class="my-3 rounded " width="1080" height="470" src="https://www.youtube.com/embed/NVnaaP0oI9c?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col text-center d-block d-lg-none">
            <iframe class="my-3 rounded " width="400" height="470" src="https://www.youtube.com/embed/NVnaaP0oI9c?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <hr>
    <div class="d-flex flex-wrap justify-content-around mb-4">    
        <div class="p-2 bd-highlight ">
            <iframe class="" src="https://open.spotify.com/embed/playlist/4pga6eihbEpIQX19aWpKR8" width="300" height="400" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div class="p-2 bd-highlight">
            <iframe style="border: 0; width: 300px; height: 400px;" src="https://bandcamp.com/EmbeddedPlayer/album=2141142107/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="https://titoviera.bandcamp.com/album/black-bird">Black Bird by Tito Viera</a></iframe>
        </div>
        <div class="p-2 bd-highlight">
            <iframe src="https://open.spotify.com/embed/album/2tzwMzYyToj9CC2Ys3hSmu" width="300" height="400" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>
</div>