<div class="container animated fadeIn">
    <div class="row my-5">
        <div class="col-12 col-md-6 my-auto">
            <!-- <h2>Lorem Ipsum</h2> -->
            <p style="font-size: 1.5em; " align="justify"><span class="display-4"> Augusto “Tito” Viera </span>, músico de 28 años con residencia en el Pinar, Canelones. 
                Baterista, percusionista y compositor, comenzó sus estudios en 2005, pasando por profesores como Leonardo Rodriguez, Sergio Tulbovitz, Tote Fernandez, Agustín Pardo y Gonzalo Varlela, en batería/percusión y composición.
                </p>
        </div>
        <div class="col-12 col-md-6">
            <img src="../../../assets/img/tito-bio-1.jpg" alt="" width="100%">
        </div>
    </div>
    <div class="row my-5" [class.img_in_r]="img_animation_1" style="opacity: 0;">
        <div class="col-6 my-auto">
            <!-- <h2>Lorem Ipsum</h2> -->
            <p style="font-size: 1.5em; " align="justify">“La fusión de distintos instrumentos y ritmos es lo que más me mueve, trabajando sobre la idea de "Solo de Percusión" con instrumentos solista.
                Siempre desde el respeto a la cultura y a los instrumentos, tratando de incorporar sus técnicas y ritmos para luego transmitir lo que pasa por mi interior, agradezco a la música, a mis maestros, y a mis compañeros de equipo.”
                </p>
        </div>
        <div class="col-6">
            <img src="../../../assets/img/drum_1.jpg" alt="" width="100%">
        </div>
    </div>
    <div class="row my-5"  id="pic-1"  [class.img_in_l]="img_animation_2" style="opacity: 0;">
        <div class="col-6"> 
            <img src="../../../assets/img/Tito in the cerro (16).jpg" alt="" width="80%">
        </div>
        <div class="col-6 my-auto">
            <!-- <h2>Lorem Ipsum</h2> -->
            <p style="font-size: 1.5em;" align="justify">Participó tanto en proyectos musicales como audiovisuales, cumpliendo roles como músico sesionista, integrante de bandas, compositor y diseñador de sonido.</p>
        </div>
    </div>
    <div class="row my-5 " [class.img_in_l]="img_animation_3" style="opacity: 0;">
        <div class="col-5">
            <img src="../../../assets/img/tito-bio-3.jpg" alt="" width="100%">
        </div>
        <div class="col-7 my-auto" >
            <!-- <h2>Lorem Ipsum</h2> -->
            <p style="font-size: 1.5em;" align="justify"> En la actualidad se sigue perfeccionando como baterista, y estudiando composición para audiovisuales y videojuegos; al mismo tiempo que está produciendo su primer trabajo como solista y colaborando con otros artistas como por ejemplo Isabella Acerenza y Camila Huerta.</p>
        </div>
    </div>
</div>
